<!DOCTYPE html>
<html lang="en" ng-app="mainModule">
<head>
	<meta charset="UTF-8">
	<title>SAP UFRO</title>
	<script type="text/javascript" src="javascripts/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/angular-route.min.js"></script>

  <script type="text/javascript" src="javascripts/angular-local-storage.min.js"></script>
  <script type="text/javascript" src="javascripts/angular-resource.min.js"></script>
	<!--
	<script type="text/javascript" src="javascripts/popper.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
-->


  <script type="text/javascript" src="javascripts/mainController.js"></script>
	<script type="text/javascript" src="app/controllers/homeController.js"></script>
	<script type="text/javascript" src="app/controllers/moviesController.js"></script>
	<script type="text/javascript" src="app/controllers/loginController.js"></script>

	<script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<script src="semantic/dist/semantic.min.js"></script>


	<style type="text/css">
	body {
		background-color: #FFFFFF;
    background-image: url("assets/fondo.jpg");
	}
	.ui.menu .item img.logo {
		margin-right: 1.5em;
	}
	.main.container {
		margin-top: 7em;
	}
	.wireframe {
		margin-top: 2em;
	}
	.ui.footer.segment {
		margin: 5em 0em 0em;
		padding: 5em 0em;
	}
	</style>
</head>
<body class="miBody" ng-controller="mainController" >




	<div class="ui fixed inverted menu" >
		<div class="ui container">
				<div class="ui simple dropdown header item">
				<img class="logo" src="assets/logo.png">
					SAP UFRO <i class="dropdown icon"></i>
					<div class="menu">
			   <!--<a class="item">Iniciar Sesion</a>-->
					</div>
				</div>



		</div>
	</div>

<div class="ui main text container" ng-view >

</div>
</body>
</html>
