<div  class="container" ng-controller="loginController">
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui teal image header">
				<img src="assets/ufro.png" class="image">
				<div class="content">
					¡Bienvenido a SAP UFRO!
				</div>
			</h2>

				<div class="ui stacked segment ui large form">

					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input ng-model="login.email" type="text" name="email" placeholder="Ingrese su correo electronico">
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input ng-model="login.password" type="password" name="password" placeholder="Ingrese su contraseña">
						</div>
					</div>
					<div ng-click="iniciarSesion()" class="ui fluid large teal submit button">Iniciar Sesion</div>


				</div>




			<div class="ui message">
					<a ng-click="abrirModal()">¿Eres nuevo?</a>
			</div>
			<div id="error" class="ui bottom attached warning message hidden">
					<i class="icon help"></i>
					¿Parece que no haz ingresado tus credenciales?
			</div>

		</div>
	</div>


	<div id="cargando" class="ui icon message hidden">
  	<i class="notched circle loading icon"></i>
  	<div class="content">
  		<div class="header">
  			¡Un segundo!
  		</div>
  		<p>Estamos comprobando tus credenciales.</p>
  	</div>
  </div>


	<div id="modalConversacion" class="ui modal modalConversacion">

		<div class="header">
			¿Que es SAP UFRO?
		</div>

		<div class="image content">
			<div class="ui medium image">
				<img src="assets/sap.png">
			</div>

			<div class="description">
				<p> ¡Hola! SAP UFRO es una linea de investigacion de la rama Ingenieria Civil Industrial de la Universidad de La Frontera que te permitira entrar en el mundo de las tecnologias de informacion (TI) que se utilizan a nivel gerencial en todo el mundo.</p>
				<p>¿Empezamos con tu registro?</p>
			</div>
		</div>

		<div class="actions">
			<div class="ui inverted red deny button">
				Cancelar
			</div>
		 <div ng-click="asd()" class="ui inverted green animated button" style="margin-bottom: 2px">
			<div class="visible content">Adelante!</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>
		</div>
	</div>


	<div id="modalRegistro" class="ui basic modal modalRegistro">
		<div class="ui icon header">
			<div  class="ui warning message transition hidden" >
				<a class="close icon" ></a>
				<div class="header">
				 ¡No haz ingresado toda la informacion necesaria!
				</div>
				Si no completas tu registro de manera correcta, SAP UFRO no podra contar contigo para sus proximos eventos, ¡intentalo nuevamente!
			</div>
			<i class="archive icon"></i>
			La informacion registrada no sera utilizada para ningun fin ajeno a la comunidad de SAP UFRO, porfavor ingresa los siguientes datos:
		</div>
		<div class="content">
				<div class="ui grid">
					<div class="sixteen wide column">
						<div class="ui transparent input">
							<input ng-model="nuevoUsuario.matricula" required style="width: 100%; color: #d4d4d5 !important" type="text" placeholder="Numero de matricula">
						</div>
					</div>
				</div>

				<div class="ui grid">
					<div class="sixteen wide column">
						<div class="ui transparent input">
							<input ng-model="nuevoUsuario.email" required style="width: 100%; color: #d4d4d5 !important" type="email" placeholder="Correo electronico ">
						</div>
					</div>
				</div>

				<div class="ui grid">
					<div class="sixteen wide column">
						<div class="ui transparent input">
							<input ng-model="nuevoUsuario.name" required style="width: 100%; color: #d4d4d5 !important" type="text" placeholder="Nombre">
						</div>
					</div>
				</div>

				<div class="ui grid">
					<div class="sixteen wide column">
						<div class="ui transparent input">
							<input ng-model="nuevoUsuario.lastname" required style="width: 100%; color: #d4d4d5 !important" type="text" placeholder="Apellidos">
						</div>
					</div>
				</div>


				<div class="ui grid" style="width: 100%">
					<div class="sixteen wide column" style="width: 100%">

						<div class="ui transparent input" style="width: 100%;" >
			  <select style="width: 100% !important" ng-model="nuevoUsuario.profession" class="ui dropdown ">
				<option value="">Carrera</option>
				<option value="Ingenieria Civil Industrial M. Bioprocesos">Ingenieria Civil Industrial M. Bioprocesos</option>
				<option value="Ingenieria Civil Industrial M. Mecanica">Ingenieria Civil Industrial M. Mecanica</option>
				<option value="Ingenieria Civil Industrial M. Informatica">Ingenieria Civil Industrial M. Informatica</option>
			  </select>
						</div>

					</div>
				</div>

			 <div class="ui grid">
					<div class="sixteen wide column">
						<div class="ui transparent input">
							<input ng-model="nuevoUsuario.password " required style="width: 100%; color: #d4d4d5 !important" type="password" placeholder="Contraseña">
						</div>
					</div>
				</div>


		</div>
		<div class="actions">
			<div class="ui red basic cancel inverted button">
				<i class="remove icon"></i>
				Cancelar
			</div>
			<div class="ui green submit inverted button" ng-click="registrarme()">
				<i class="checkmark icon"></i>
				Registrarme
			</div>
		</div>
	</div>





</div>

